.reddit {
    width: 50%;
    margin-right: 30px;
}

/*> a {
    color: #DC6431;
}*/

.twitter {
    width: 40%;
}

body {
    display: flex;
}
.tg {
    border-collapse: collapse;
    border-spacing: 0;
    border-color: #bbb;
}

.tg td {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #594F4F;
    background-color: #CEE3F8;
}

.tg th {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 5px;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    word-break: normal;
    border-color: #bbb;
    color: #493F3F;
    background-color: #DC6431;
    font-weight: bold;
}

.tg .tg-ejgj {
    font-family: Verdana, Geneva, sans-serif !important;
    ;
    vertical-align: top
}

.tg-ejgj > a {
    color: #fff;
}


.tg .tg-rmb8 {
    background-color: #CEE3F8;
    vertical-align: top
}

@media screen and (max-width: 767px) {
    .tg {
        width: auto !important;
    }
    .tg col {
        width: auto !important;
    }
    .tg-wrap {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
}

blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
}

blockquote.twitter-tweet a:hover, blockquote.twitter-tweet a:focus {
    text-decoration: underline;
}
